/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-banner-block {
    background: #F00;
	color: #fff;
	padding: 2px;
}

.wp-block-create-block-banner-block p {
    font-size: 20px;
}
